
/* STORE BILDET */
.img-style {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
}

.bildeSeksjon {
    display: flex; /* Aktiver flexbox */
    justify-content: center; /* Sentrer barn horisontalt */
    align-items: center; /* Sentrer barn vertikalt */
    position: relative; /* Beholder posisjonering */
    width: 100%;
    height: 100%; 
}

    .bildeSeksjon img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Sørg for at bildet dekker containeren */
        border-radius: inherit; /* Arv border-radius hvis nødvendig */
    }


.bildeSeksjon h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    line-height: 55px;
    text-align: center;
}

.bildeTekst {
    position: absolute; /* Behold absolutt for å sikre teksten legger seg over bildet */
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
    
}


.bildeTekst h1, h4 {
    margin: 0;
}

.bildeKnapp {
    padding: 10px 30px;
    font-size: 0.9rem;
    background-color: transparent; /* Gj�r bakgrunnen gjennomsiktig */
    color: black;
    border: 2px solid black; /* Legg til en svart border */
    border-radius: 15px;
    cursor: pointer;
}

.bildeKnapp:hover {
    background-color: #e3f1f8; /* Endre bakgrunnsfargen ved hover til svart */
}

.bildeTekst h4 {
    margin-bottom: 20px; /* Legg til mer margin under h4-elementet */
    margin-top: 10px;
}

/* Legg til margin over knappen */
.bildeKnapp {
    margin-top: 30px;
}

/* ------------------------REGNSKAP DELEN ---------------------------  */

.regnskapsSeksjon h2 {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

 /* HELE BOKSEN MED KORTENE */
.regnskapsBoks {
    background-color: #eff6fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

/* INNHOLD I KORTENE */
.regnskapsKort {
    border-bottom-width: 4px;
    border: 1px solid #b2bcc1;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border-left-width: 4px;
    border-right-width: 4px;
    border-style: solid;
    border-top-width: 4px;
    background-color: #edf0f2;
    border-radius: 5px;
    height: 357px;
    left: 435px;
    top: 1092px;
    width: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Plasserer innholdet vertikalt sentrert */
    align-items: left; /* Plasserer innholdet horisontalt ventre */
    padding-left: 15px;
    padding-right: 15px;
    text-align: left; /* Venstrestiller teksten */
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* OVERSKRIFT I KORTENE */
.regnskapsKort h3 {
    margin-top: 20px;
    font-weight: bolder;
}

/* TEKSTEN I KORTENE OG HOVER */
.regnskapsKort p {
    font-size: 14px;
}

.regnskapsKort:hover {
    transform: scale(1.1);
}

/* BILDENE I KORTENE */
.regnskapsSeksjon img {
    max-width: 60px;
    max-height: 60px;
}

.regnskapsKnapp {
    background-color: #8a9095; /* Bl� bakgrunnsfarge */
    color: rgb(0, 0, 0); /* Hvit tekstfarge */
    border: 2px solid #444749; /* 2 piksler bred solid svart grense */
    font-size: 100%;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    border-radius: 6px;
    height: 44px;
    line-height: 1.15;
    padding: 20px 30px;
    margin-bottom: 40px;
    margin-left:25px;
}


.regnskapsKnappTekst {
    color: rgb(0, 0, 0);
    text-align: center;
}


.siste-container {
    margin-top: auto;
    height: 80px;
    width: auto;
    background-color: #eff6fa;
}

/* ------------------------------- MØT OSS ----------------------------- */


.m�tOssSeksjon h1 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

.kontaktOssBoks {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #eff6fa;
}


.kontaktOssHeader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Plasser headeren øverst */
    margin-top: 10px;
}

.kontaktOssHeader h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.kontaktOssKort {
    margin-top: 60px;
    padding: 10px;
    flex: 50%;
    width: 570px;
    height: 407px;
}

    .kontaktOssKort-img {
        border-radius: 50%;
        margin-bottom: 20px;
        height: 272px;
        
    }

.kontaktOssKort h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.kontaktOssKort p {
    font-size: 0.75rem; /* St�rrelse til "STATSAUTORISERT REGNSKAPSF�RER" */
}

/* --------------------------- VÅRE PARTNERE --------------------------- */

.partnerBakgrunn {
    padding: 80px;
}


.partnerBakgrunn, h2 {
    text-align: center;
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
}

.bildet {
    margin: 0 20px;
}

    .bildet img {
        width: 100%;
    }

.slick-bilder {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.bildet {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

    .bildet img {
        display: block;
        width: 50%; /* Gjør bildene halvparten så brede som sine konteinere */
    }

.slick-initialized .bildet {
    display: block;
}

.partner-tittel {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}




/* --------------------------- KONTAKT OSS --------------------------- */

.kontaktBilde {
    display: flex; /* Aktiver flexbox */
    justify-content: center; /* Dette vil nå bli ignorert for absolutt posisjonerte barn */
    align-items: center; /* Dette vil også bli ignorert for absolutt posisjonerte barn */
    position: relative; /* Beholder posisjonering */
    height: 60vh; /* Juster høyden etter behov */
    margin-bottom: 20px;
    margin-top: 20px;
}

    .kontaktBilde img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Sørg for at bildet dekker containeren */
        border-radius: inherit; /* Arv border-radius hvis nødvendig */
    }

.kontaktTekstboks {
    position: absolute; /* Behold absolutt for å sikre teksten legger seg over bildet */
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    padding: 0 20px;
    width: 50%;
}


.kontaktTekstboks h1 { /*Hovudtittel*/
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bolder;
}

.kontaktTekstboks p { 
    padding-top: 20px; /*Avstand til overskrift*/
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 40.3px;
    font-family: 'Varela Round', sans-serif;

}
    .kontaktTekstboks a,p {
        font-family: 'Varela Round', sans-serif;
    }

.kontaktKnapp { /*Kontakt oss-knapp*/
    display: inline-block; /*Gjer at boksen ikkje tek meir plass enn innholdet + marg*/
    border: 2.67px double #444749;
    border-radius: 10px;
    background-color: #9ea6aa;
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bolder;
    line-height: 32px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 15px 14px;
}

/* ---------------------------RESPONSIVITET ---------------------------*/
    @media (max-width:1026px) {
        .kontaktOssBoks {
            display: flex;
            flex-direction: column;
        }
        .regnskapsBoks {
            justify-content:center;
        }
      

        .bildeKnapp {
            margin-top: 5px;
            
        }

        /*Bok*/
        .kontaktTekstboks p{
            padding-bottom:2px;
            padding-top:1px;
        }
        .kontaktTekstboks {
            padding-top: 0px;
           width:100%
        }
    }

    @media (max-width:769px) {

        .bildeKnapp {
            margin-top: 5px;
        }

        .bildeTekst h2 {
            font-size: 25px;
        }
    }

@media (max-width:717px) {
    .bildeTekst h1 {
        font-size: 50px;
    }

    .bildeTekst h2 {
        font-size: 20px;
    }
 
    /* JEG FÅR IKKE DENNE KODEN TIL Å FUNGERE */
    .bildeTekst h1, h2 {
        color: black;
        text-shadow: 10px 10px 10px #000000;
    }
  
}

@media (max-width:653){
    .regnskapsKort {
        margin-left:20px;
}
    .regnskapsKnapp {
     margin-left:0px;
    }

}

@media (max-width: 529px) {


    /*Bilde seksjon*/

    .bildeTekst h2 {
        padding: 0px;
        font-size: 15px;
    }
    .bildeKnapp {
        margin-top: 0px;
    }

    /*kort*/
    .regnskapsSeksjon h2 {
        margin-top: 30px;
        font-size: 30px;
    }
    .regnskapsKort {
        margin-left:0px;
    }

        /*Om oss seksjonen */
        .kontaktOssKort {
        flex: 100%; /* Gjør at kortene tar full bredde av skjermen */
    }
            .kontaktOssKort img {
                max-width: 250px;
            }

        .kontaktOssKort p {
            font-size: 1rem; /* Justerer skriftstørrelsen ned */
        }

        /*PARTNER SEKSJOE**/

        .partnerBakgrunn{
            padding:30px;
        }

    .partner-tittel {
 
        font-size: 34px;
    }
        /*Bok seksjonen*/

        .kontaktKnapp{
        font-size:20px;
    }
    .kontaktTekstboks {
        transform: translateY(-55%);
        padding-left: 10px;
        width: 90%;
    }

        .kontaktTekstboks h1 {
            font-size: 14px;
        }

    .kontaktKnapp {
    
        font-size: 15px;
    }
    }

@media (max-width: 375px) {
    .bildeTekst h2 {
        padding: 0px
    }

    .bildeTekst h1 {
        font-size: 35px;
    }

    .bildeKnapp {
        padding: 5px 20px;
        font-size: 0.7rem;
    }

    .bildeSeksjon img {
        height: 200px;
    }

    .partnerBakgrunn {
        padding: 20px;
    }

    .partner-tittel {
        font-size: 25px;
    }

    .kontaktOssKort h1 {
        font-size: 15px;
    }

    .kontaktOssKort-img {
        height: 200px;
    }

    .kontaktOssKort p {
        font-size: 0.7rem;
    }

    .kontaktTekstboks {
        padding-top: 50px;
    }
        .kontaktTekstboks p {
       
            font-size: 14px;
        }
        .kontaktTekstboks h1 {
            font-size: 15px;
            line-height: 1;
        }

    .kontaktKnapp {
        
        padding: 10px 10px;
    }
}
 @media (max-width: 281px) {


/*Bilde seksjonen*/

     .bildeTekst h1 {
         font-size: 25px;
       }
      bildeTekst h2 {
       padding: 0px;
      }

       .bildeKnapp {
         padding: 5px 10px;
          font-size: 0.7rem;
      }

    .bildeTekst h2 {
     font-size: 15px;
                }


                /*Kort seksjoen*/

                .regnskapsKnapp {
                    font-size: 15px;
                    padding: 30px 30px;
                }


                /*Bok seksjonen*/

                .kontaktTekstboks h1 {
                    font-size: 15px;
                }

                .kontaktTekstboks p {
                    font-size: 15px;
                }

                .kontaktKnapp {
                    font-size: 10px;
                }
}