
* {
    font-family: 'Varela Round', sans-serif;
}

.accounting-deadlines h1 {
    color: #244368;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
}

.accounting-deadlines {
    margin: 0;
    padding: 5.34em 6.67em;
}

    .accounting-deadlines p {
        margin: 0;
    }

.mva-avsnitt {
    padding-top: 20px;
}

.regnskap-boks {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Justerer barna (innholdet) til venstre */
    max-width: 800px; /* Setter maksimal bredde p? boksen */
    margin: 0 auto; /* Sentrerer boksen horisontalt */
    padding: 20px; /* Legger til litt padding for ? gi teksten plass innenfor boksen */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Legger til en enkel skyggeeffekt for ? l?fte boksen fra bakgrunnen */
    background-color: #fff; /* Setter bakgrunnsfargen til hvit for ? skille den fra siden */
    border-radius: 8px;
}

    .regnskap-boks h4 {
        font-size: 20px;
    }

    .regnskap-boks p {
        font-size: 15px;
    }


.download-section {
    background-color: #f4f4f4; /* Lys grå bakgrunn */
    padding: 20px; /* Litt plass rundt innholdet */
    margin-bottom: 20px; /* Mellomrom mellom seksjoner */
    margin-left: auto; /* Senterer seksjonen horisontalt */
    margin-right: auto; /* Senterer seksjonen horisontalt */
    border-radius: 5px; /* Avrundede hjørner */
    max-width: 600px; /* Maksimal bredde av seksjonen */
}
.download-boks h2 {
    color: #244368;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
}

  

.download-links {
    list-style: none; /* Fjerner punkttegn */
    padding: 0;
}

    .download-links li a {
        text-decoration: none; /* Fjerner understreking */
        background-color: white; /* Hvit bakgrunn for lenker */
        display: block; /* Lenker tar opp hele bredden */
        padding: 10px; /* Litt plass rundt lenketeksten */
        border: 1px solid #ddd; /* Lett grense rundt lenkene */
        margin-bottom: 5px; /* Mellomrom mellom lenkene */
        border-radius: 5px; /* Avrundede hjørner på lenkene */
    }

        .download-links li a:hover {
            background-color: #e9ecef; /* Lysere grå bakgrunn ved hover */
            text-decoration: underline; /* Understrekning for å vise aktivitet */
        }

/* Responsiv styling for mindre skjermer */
@media screen and (max-width: 650px) {
    .accounting-deadlines {
        padding: 2em 2em;
    }
}

/* Responsiv styling for store skjermer (f.eks. iPad Air) */
@media screen and (max-width: 430px) {
    .accounting-deadlines p {
        font-size: 10px
    }
}

/* Responsiv styling for st?rre skjermer som 912 x 1368 */
@media screen and (max-width: 320px) {
    .regnskap-boks h4 {
        font-size: 15px;
    }

    .regnskap-boks p {
        font-size: 9px;
    }

    .regnskap-boks {
        padding: 10px;
    }

    .download-section {
        max-width: 250px;
        font-size: 12px;
    }
}
