/* Container for whole layout */
.hel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    flex-direction: row;  /* Standard innstilling for større skjermer */


}

.kortInnhold {
    margin: 0.6rem;
}

.kortInnhold p, .kortInnhold h2 {
    text-align: left;
}

.kortInnhold h2 {
    font-weight: bolder;
}

/* Main container for all cards */
.alleKort {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* Space between cards */
    padding: 0.8rem;
}

/* Left container and image */
.hel-venstre {
    flex: 1;
    padding: 1.25rem;
}

.MoosaTjenesterBilde {
    height: auto;
    max-width: 100%;
    display: block;
}

.HaseebTjenesterBilde {
    height: 100%;
    display: block;
    height: 20rem;
}

/* Right container */
.hel-høyre {
    flex: 1;
    text-align: left;
    padding: 1.25rem;
}

.hel-høyre h1 {
    margin-bottom: 1.25rem;
    font-weight: bolder;
    text-align: left;
}

.hel-høyre p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

/* Styling for each card */
.første-kort, .andre-kort, .tredje-kort, .fjerde-kort {
    width: 100%; /* Full width */
    max-width: 1400px; /* Maximum width */
    height: auto; /* Auto height based on content */
    padding: 1rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Paragraph style within cards */
.første-kort p, .andre-kort p, .tredje-kort p, .fjerde-kort p {
    margin-top: 1rem;
    font-size: 1.05rem;
}

/* Specific styles for first box (text and image side by side) */
.førsteBoks {
    display: flex;
    gap: 1.25rem;
}

/* Specific styles for other boxes (text below image) */
.andreBoks, .tredjeBoks, .fjerdeBoks {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}


@media (max-width:855px) {
    .tredje-kort {
        flex-direction: column;
    }
    .hel-container {
        flex-direction: column;
    }

    .hel-høyre {
        order: 1;  /* Tekstseksjonen kommer først */
    }

    .hel-venstre {
        order: 2;  /* Bilde kommer etter tekstseksjonen */
    }

    .hel-venstre, .hel-høyre {
        width: 100%;  
    }
}
