/* ---------- HELE FØRSTE CONTAINEREN -------------*/
.hel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

/* VENSTRE CONTAINER OG BILDE */
.hel-venstre {
    flex: 1;
    padding: 1.25rem;
}

.MoosaTjenesterBilde {
    height: auto;
    max-width: 100%;
    display: block;
}

/* HØYRE CONTAINER */
.hel-høyre {
    flex: 1;
    text-align: left;
    padding: 1.25rem;
}

.hel-høyre h1 {
    margin-bottom: 1.25rem;
    font-weight: bolder;
    text-align: left;
}

.hel-høyre p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* ALLE KORTENE */
.alleKort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.8rem;
}

.første-kort, .andre-kort, .tredje-kort, .fjerde-kort {
    width: 68rem; /* Sett ønsket bredde for boksene */
    height: 10rem; /* Sett ønsket høyde for boksene */
    margin: 0.7rem; /* Legg til mellomrom mellom boksene (valgfritt) */
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 7rem;
}

/* får ikke denne til å fungere
.første-kort h1, .andre-kort h1, .tredje-kort h1, .fjerde-kort h1 {
    font-weight: lighter;
}
*/

.første-kort p, .andre-kort p, .tredje-kort p, .fjerde-kort p {
    margin-top: 1rem;
    font-size: 1.05rem;
}

/* FØRSTE KORT */
.HaseebTjenesterBilde {
    height: auto;
    max-width: 100%;
    display: block;
}