/* Chat-knapp når chatten er lukket */
.Chat {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    background: #fff;
    border-radius: 70%;
    z-index: 999;
}

.chatButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    cursor: pointer;
}


/* Styling når chatten er åpen */
.chatDialog {
    background-color: #fff;
    width: 18.75rem;
    border-radius: 0.62rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Chat-header */
.chatHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1.5px solid #e6e6e6;
}

.chatLogo {
    height: 4.3rem;
}

.chatHeaderText {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 0.8rem;
}

.chatheader-overskrift {
    font-size: 1.18rem;
    margin: 0;
    font-weight: bold;
}

.closeChat {
    margin-left: auto;
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    padding-right: 0.62rem;
}

/* Chat-body */
.chatBody {
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    height: 18.75rem;
    overflow-y: auto;
    margin: 0 auto;
    background: #f7f7f7;
}

.chatMessage, .botMessage {
    margin-bottom: 10px;
    padding: 0.5rem 0.6rem;
    max-width: 65%;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
    word-wrap: break-word;
    white-space: pre-wrap;
}

.chatMessage {
    background-color: #333;
    color: #fff;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    align-self: flex-end;
}

.botMessage {
    background-color: #fff;
    color: #333;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    align-self: flex-start;
}

.messageContent {
    font-size: 0.7rem;
    margin: 0.25rem 0;
}

.messageTime {
    font-size: 0.6rem;
    color: #666;
    padding: 0 0.625rem;
}

/* Chat-footer */
.chatFooter {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-top: 1px solid #eee;
}

.messageInput {
    flex: 1;
    padding: 0.6rem 15px;
    border: 1px solid #e6e6e6;
    border-radius: 0.9rem 0 0 0.9rem;
    margin-right: 0.6rem;
    font-size: 1rem;
    color: #333;
    outline: none;
    width: calc(100% - 58px);
    height: 2.8rem;
}

.SendMessage {
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
}

/* Stil for popup-container */
.popup-container {
    position: fixed;
    bottom: 80px; 
    right: 20px; 
    background-color: #ffffff;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 5px; 
    max-width: 250px;
    text-align: center;
    z-index: 1000; 
}

.popup-box h2 {
    font-size: 0.9rem; 
    margin-bottom: 5px;
}

.popup-box p {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.popup-box button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 3px 8px; 
    font-size: 0.8rem; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .popup-box button:hover {
        background-color: #0056b3;
    }