
/*Styling n�r chatten er lukka*/
.Chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #fff;
    z-index: 999;
    border-radius: 70%;


}

.chatButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

/*Styling n�r chatten er �pen*/
.chatDialog {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Chat-header */
.chatHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
    justify-content: flex-start; /* Elementene starter fra venstre side */
}

.chatLogo {
    /* Størrelse og plassering av logoen */
    height: 70px; 
}

.chatHeaderText span{
    font-size:14px;
}
.chatHeaderText {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


.chatheader-overskrift {
    font-size: 19px;
    margin: 0;
    font-weight: bold;
}

.closeChat {
    margin-left: auto; /* Skyver denne knappen til høyre kant av headeren */
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    padding-right: 10px;
}

/* Chat-body */
.chatBody {
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    margin: 0 auto; /* Sentrer containeren */
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
}

.chatMessage, .botMessage {
    font-size: 14px;
}

.messageTime {
    font-size: 0.75rem; /* Adjust font size as needed */
    color: #666; /* A neutral color for timestamps */
    padding: 0 10px; /* Adjust padding as needed */
}

.chatMessage {
    background-color: #000; /* Endret til svart */
    color: #fff; /* Endret tekstfarge til hvit */

    align-self: flex-end;
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.botMessage {
    background-color: #e9ecef;
    align-self: flex-start;
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}
.botMessage, .chatMessage {
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 9px 10px;

    max-width: 65%;
    font-size: 0.6rem;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

/*Chat-footer*/
.chatFooter {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #eee;
}

.messageInput {
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

.messageInput {
    width: 100%;
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.SendMessage {
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px; /* Optional for styling */
}

@media (max-width: 768px) {
    .chatDialog {
        width: 80%; /* Gjør dialogen bredere på små skjermer */
        bottom: 10px; /* Juster plasseringen hvis nødvendig */
        right: 10px; /* Juster plasseringen hvis nødvendig */
    }
}


@media (max-width: 500px) {

    .Chat {
        right: 49px;
    }
}

@media (max-width: 480px) {
    .Chat {

    right: 100px;
    bottom: 10px;
    }

    .chatButton {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
}

/* Juster for små skjermer */
@media (max-width: 600px) {
    .Chat {
        right: 10px; /* Reduser margin for å spare plass */
        bottom: 10px;
    }

    .chatButton {
        width: 40px; /* Mindre knapp på små skjermer */
        height: 40px;
        font-size: 20px; /* Juster fontstørrelsen om nødvendig */
    }
}

@media (max-width: 300px) {
    .Chat {
        right: 5px; /* Juster posisjonen til knappen nærmere kanten, men med litt margin */
        bottom: 5px;
    }

    .chatButton {
        width: 30px; /* Reduser størrelsen på knappen */
        height: 30px; /* Behold den sirkulære formen med samme bredde og høyde */
        font-size: 16px; /* Juster størrelsen på ikonet inne i knappen om nødvendig */
        padding: 5px; /* Optimaliser padding for å sikre at ikonet sentreres */
    }
}
