/*Generell kode*/
/*Inspirasjon fra https://www.w3schools.com/css/css_navbar.asp og https://www.w3schools.com/css/css_dropdowns.asp*/
* {
    font-family: 'Varela Round', sans-serif;
}

.left-aligned-items img {
    width: 200px;
    height: 90px;
}

.topnav a{
    text-decoration: none; /* Fjerne strek under linkene */
    display: block;
    color: black;
}

/*NAVBAREN*/
.topnav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Sikrer at barna fordeles fra venstre til høyre */
    overflow: hidden;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    }

.topnav .icon {
    display: none;
}

.dropDownContent, .navTekst:hover,.dropDownContent button:hover {
    color: black;
}

.navTekst:hover,.dropDownContent button:hover {
    background-color: #ddd;
 }
 
.right-aligned-items {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; /* Justerer navigasjonselementene til høyre */
}


/*SPRÅK DELEN*/
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Mer subtil skygge */
    padding: 10px 0; /* Justert padding for å fjerne vertikal padding */
    z-index: 1;
    border: none; /* Sikrer at det ikke er noen border */
}


.dropDownContent button {
    border: none; /* Fjerner border fra knapper */
    background-color: transparent; /* Gjør bakgrunnen transparent */
    padding: 8px 16px; /* Justerer padding for å matche designet */
    margin: 0; /* Fjerner margin */
    display: flex;
    align-items: center;
}

.dropDown:hover .dropDownContent {
    display: block;
}

.dropDown img {
    margin-right: 5px;
}


@media screen and (max-width: 899px) {
    .topnav {
        justify-content: space-between;
    }

    .right-aligned-items .navTekst , .topnav .icon {
        display: none;
    }

    .topnav a.icon, .topnav .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 39px;
    }

    .topnav.responsive .right-aligned-items, .topnav.responsive a {
        display: block;
        text-align: left;
    }

    .topnav.responsive .right-aligned-items, .topnav.responsive  {
        flex-direction: column;
    }

    .topnav.responsive {
        align-items: flex-start;
    }
}
